<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>google_Maps_API_Key</key>
	<string>AIzaSyD7hKoIbEncEISSrBMPQtgnsnFddzr8DHk</string>
	<key>parse_Client_Key</key>
	<string>uX3CkH36PQyomTkjrCGncvYE82GxTvqDmY3h80b2</string>
	<key>parse_ApplicationId</key>
	<string>z7ojx843eiZEMC4vCr1B7YsZjMlUUb7FuUmECcj1</string>
</dict>
</plist>
