<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>google_Maps_API_Key</key>
	<string>AIzaSyD7hKoIbEncEISSrBMPQtgnsnFddzr8DHk</string>
	<key>parse_Client_Key</key>
	<string>ixtHG75gIRrNGlhjrDMA8U97ytJCSkXyfEt8tr0X</string>
	<key>parse_ApplicationId</key>
	<string>v8uByh91t6JU8Cc9c2cIy1yV5Ykj6kawRdSeGDEg</string>
</dict>
</plist>
